.app {
  text-align: center;
}

.app-header {
  background-color: #060920;
  height: 150px;
  padding: 3em 0;
  color: white;
}

.app-title {
  font-size: 3em;
  color: #b2b0b9;
}

.app-intro {
  font-size: large;
}

