.photo-section{
  background-color: #2a3964;
  padding-bottom: 2em;
} 
.photo-links{
  padding-top: 2em;
}

.photo-links a{
  color: #b2b0b9;
  font-size: 22px;
  text-decoration: none;
  padding: 1.5em;
}

.photos{
  padding-top: 2em;
}

.photos img{
  margin: 5px;
}