.photo-section{
  background-color: #2a3964;
  padding-bottom: 2em;
} 

.photo-links{
  padding-top: 2em;
}

.photo-links button{
  border: 1px solid #2a3964;
}

.photo-links button:focus{
  background-color: #3f4c74;
}

.photos{
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}

.photos img{
  margin: 2px;
}